body html{
    height:100%;
}

.jumbotron{
    padding: 10px;
    background-color: rgb(104, 100, 100);
}

.dash{
    color: white;
    margin: 0px;
}

button{
    width: 48px;
    height: 38px;
}

#uv{
    background-color:red;
    
}

/* #icon{
    height: 50px;
    width: 50px;
} */

.container{
    margin-right:0px;
    margin-left: 0px;
    
}
.fivecard{
    margin-right: 10px;
}
#forecast{
    margin-left: 5px;
}

